<div class="editor-row">
    
    <div class="editor-row">
      <h5 class="page-heading">Color Mappings</h5>
      
      <div class="gf-form">
        <label class="gf-form-label width-12">Color category field: </label>
        <input type="text" ng-model="ctrl.panel.colorfield" class="gf-form-input" placeholder="e.g. action.type" ng-change="ctrl.updateColorInfo()"/>
      </div>

      <div class="gf-form-group">
        <div class="gf-form" ng-repeat="map in ctrl.panel.colorMaps">
          <span class="gf-form-label">
            <i class="fa fa-remove pointer" ng-click="ctrl.removeColorMap(map)"></i>
          </span>
          <input type="text" ng-model="map.text" placeholder="value" class="gf-form-input max-width-10" ng-blur="ctrl.updateColorInfo()">
          <span class="gf-form-label">
            <i class="fa fa-arrow-right"></i>
          </span>
          <input type="text" placeholder="text" ng-model="map.color" class="gf-form-input max-width-8" ng-blur="ctrl.updateColorInfo()">
          <span class="gf-form-label">
            <spectrum-picker ng-model="map.color" ng-change="ctrl.updateColorInfo()" ></spectrum-picker>
          </span>
        </div>
    
        <div class="gf-form-button-row">
          <button class="btn btn-inverse" ng-click="ctrl.addColorMap();">
            <i class="fa fa-plus"></i>
            Add a Color mapping
          </button>
          <button class="btn btn-inverse" ng-click="ctrl.addColorMap('curent');">
            <i class="fa fa-plus"></i>
            Add Current Values
          </button>
        </div>
      </div>
    </div>

    <div class="editor-row">
      <h5 class="page-heading">Color opacity</h5>
        <div class="gf-form">
          <label class="gf-form-label width-12">Field (should contain numeric value): </label>
          <input type="text" ng-model="ctrl.panel.coloropacityfield" class="gf-form-input" placeholder="e.g. transfer.speed_mbs" ng-blur="ctrl.onConfigChanged()"/>
        </div>
    
        <div class="gf-form">
          <label class="gf-form-label width-12">Max value: </label>
          <input type="number" ng-model="ctrl.panel.coloropacitymax" class="gf-form-input" placeholder="100" ng-blur="ctrl.onConfigChanged()"/>
        </div>
        
        <div class="gf-form">
          <label class="gf-form-label width-12">Min value: </label>
          <input type="number" ng-model="ctrl.panel.coloropacitymin" class="gf-form-input" placeholder="0" ng-blur="ctrl.onConfigChanged()"/>
        </div>
        
        <div class="gf-form">
          <label class="gf-form-label width-12">Min opacity: </label>
          <input type="number" ng-model="ctrl.panel.minopacity" class="gf-form-input" placeholder="0.3" min="0" max="1" ng-blur="ctrl.onConfigChanged()"/>
        </div>
        
        <gf-form-switch class="gf-form"
                label="Inverse"
                label-class="gf-form-label width-14"
                checked="ctrl.panel.inverseopacity"
                on-change="ctrl.onConfigChanged()"></gf-form-switch>
    </div>
</div>
