<div class="editor-row">
    
    <gf-form-switch class="gf-form"
                label="Show"
                label-class="gf-form-label"
                checked="ctrl.panel.showLegend"
                on-change="ctrl.onConfigChanged()" checked="checked"  ></gf-form-switch>

</div>
